.main-nav {
    background: #ff453a;
    font-size: 20px;
    font-weight: bold;
}
.drop-item:active {
    background: red;
}
.main-container {
    margin-top: 40px;
}
.block{
    background: yellow;
    border: green solid 2px;
    padding: 20px;
    text-align: center;

}